!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css', rel='stylesheet', media='screen')
  body
  .container              
    h1 You are logged in.
    p.lead Say something worthwhile here.
    a(href="/") Go home
    a(href="/logout") Logout

    div= info

  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')