extends meta 

block content
  div.container
    div.row
      div.twelve.columns(style="text-align:center;")
        div.login
          img.github-logo(src="./img/black-github.png", alt="GitHub Logo")
          a.button.github-auth(href="/auth/github") Login via Github
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
  script(type='text/javascript', src='./js/load.js')