!!! 5
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='./img/black-github.png')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css', rel='stylesheet', media='screen')
    link(href='./css/styles.css', rel='stylesheet')
  body
    div.container
      div.row
        div.twelve.columns(style="text-align:center;")
          div.login
            img.github-logo(src="./img/black-github.png", alt="GitHub Logo")
            a.button.github-auth(href="/auth/github") Login via Github
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(type='text/javascript', src='./js/script.js')